/* 
--- 01 TYPOGRAPHY SYSTEM
Font sizes (px):
16 / 32 

Font family:
[Montserrat](https://fonts.google.com/specimen/Montserrat)
Weights: 500, 700

[Fraunces](https://fonts.google.com/specimen/Fraunces)
Weights: 700

Font weights:
500   default
700   bold

Line heights:
1       small
1.5     default
1.75    large

--- 02 COLORS
Primary:
Dark cyan:  hsl(158, 36%, 37%)
Cream:      hsl(30, 38%, 92%)

Neutrals:
Very dark blue:     hsl(212, 21%, 14%)
Dark grayish blue:  hsl(228, 12%, 48%)
White:              hsl(0, 0%, 100%)

--- 05 SHADOWS


--- 06 BORDER RADIUS
0.5rem


--- 07 WHITE SPACE
Spacing system (px):
8 /12 / 16 / 24
*/

/* ********************************** */
/* CSS RESETS */
/* ********************************** */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  padding: 0;
  margin: 0;
}

:root {
  --CLR-PRIMARY-DARK: hsl(158, 36%, 37%);
  --CLR-PRIMARY-LIGHT: hsl(30, 38%, 92%);
  --CLR-NEUTRAL-DARK: hsl(212, 21%, 14%);
  --CLR-NEUTRAL-MEDIUM: hsl(228, 12%, 48%);
  --CLR-NEUTRAL-LIGHT: hsl(0, 0%, 100%);
  --CLR-BTN-ACTIVE: hsl(156, 42%, 18%);

  --FF-PRIMARY: "Montserrat", sans-serif;
  --FF-SECONDARY: "Fraunces", serif;

  --FW-DEFAULT: 500;
  --FW-BOLD: 700;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ********************************** */
/* BASE STYLES */
/* ********************************** */
body {
  font-size: 1rem;
  font-family: var(--FF-PRIMARY);
  font-weight: var(--FW-DEFAULT);
  background-color: var(--CLR-PRIMARY-LIGHT);
}

.product-card {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.container {
  max-width: 40rem;
  margin: 0 auto;
  background-color: var(--CLR-NEUTRAL-LIGHT);
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-radius: 0.5rem;
  overflow: hidden;
}

/* ********************************** */
/* PRODUCT STYLES */
/* ********************************** */
.product-details {
  margin: 2rem;
}

.catagorey {
  display: block;
  color: var(--CLR-NEUTRAL-MEDIUM);
  text-transform: uppercase;
  letter-spacing: 0.25rem;
  margin-bottom: 1rem;
}

.name {
  font-family: var(--FF-SECONDARY);
  font-weight: 700;
  font-size: 2rem;
  line-height: 1;
  margin-bottom: 1.5rem;
}

.description {
  color: var(--CLR-NEUTRAL-MEDIUM);
  line-height: 1.75;
  margin-bottom: 1.5rem;
}

.price {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.new-price {
  font-family: var(--FF-SECONDARY);
  font-weight: 700;
  font-size: 2rem;
  color: var(--CLR-PRIMARY-DARK);
}

.old-price {
  color: var(--CLR-NEUTRAL-MEDIUM);
  text-decoration: line-through;
}

.add-to-cart-btn {
  width: 100%;
  padding: 0.75rem 0;
  border: none;
  background-color: var(--CLR-PRIMARY-DARK);
  color: var(--CLR-NEUTRAL-LIGHT);
  border-radius: 0.5rem;
  transition: background-color 200ms ease;
}

.add-to-cart-btn::before {
  margin-right: 0.5rem;
  content: url(../../images/icon-cart.svg);
}

.add-to-cart-btn:hover {
  cursor: pointer;
  background-color: var(--CLR-BTN-ACTIVE);
}

@media only screen and (max-width: 650px) {
  .container {
    max-width: 90%;
  }

  .product-img img {
    height: 575px;
    object-fit: cover;
  }
}

@media only screen and (max-width: 550px) {
  .container {
    max-width: 90%;
    grid-template-columns: 1fr;
    max-height: 90vh;
  }

  .product-img img {
    height: auto;
  }

  .product-details {
    margin: 1.25rem;
  }

  .catagorey {
    font-size: 0.85rem;
    margin-bottom: 0.5rem;
  }

  .name {
    font-size: 1.85rem;
    margin-bottom: 1rem;
  }

  .description {
    font-size: 0.85rem;
    margin-bottom: 1rem;
  }

  .price {
    margin-bottom: 0.5rem;
  }

  .new-price {
    font-size: 1.85rem;
  }

  .old-price {
    font-size: 0.85rem;
  }

  .add-to-cart-btn {
    font-size: 0.85rem;
  }
}
